@charset "utf-8";
/* CSS Document */
body {
	background-color: #000;
    height: 0;
	display: inline-block;

	}

.fon {
	text-align: center;
	width: 1300px;
	box-sizing: border-box;
	height: 750px;
	background-image: url(img2.jpg);
	background-size: cover;
	display: inline-block;
}
ul {
	float: left;
	overflow: hidden;
	list-style-type: none;
	text-align: center;
	padding-left: 70px;
	font-size: 1.2em;
	font-family: Alegreya Sans;
	font-weight: 600;
	color: #fff;
	width: 1300px;
	box-sizing: border-box;
	transform: translate(0, -20px);
	background-color: rgba(255,255,255,0.3);
	text-shadow: 0 0 1px #fff;
	border-radius: 10px;
	display: inline;
		
}

li {
	float: left;
	overflow: hidden;
	margin: 0px 5em;
	padding: 10px 10px 10px 10px;
	display: inline-block;
	box-sizing: border-box;
	transition: 0.5s;
	
	
}
li:hover {
	transform: matrix(1.1, 0, 0, 1.1, 10, 3);
	text-shadow: -6px -3px 2px rgba(255,255,255, 0.7);
}

.block {
	perspective: 500px;
	width: 300px;
	height: 300px;
	position: relative;
	top: -550px;
	left: 500px;
	display: inline-block;
}

.logotip {
	width: inherit;
	height: inherit;
	transition:  2s;
	transform-style: preserve-3d;
	
}

.logo {
	width: inherit;
	height: inherit;
	border-radius: 50%;
	color: #fff;
	position: absolute;
	text-align: center;
	font: italic 70px Arial;
	line-height: 120px;
	backface-visibility: hidden;
}

.front {
	transform: translateZ(10px);
	background-image: url(a2.png);
	background-size: cover;
}

.back {
	transform: rotateY(180deg)
		translateZ(10px);
	background-image: url(a2.png);
	background-size: cover;
}


.logotip:hover {
	transform: rotate3d(0,1,0, 360deg)
}

a {
	text-decoration: none;
	color: #fff;
}

.block1 {
	perspective: 500px;
	position: relative;
	width: 300px;
	height: 550px;
	top: -970px;
}

.matrix{
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
	transition: 2s;
}

.matr {
	position: absolute;
	width: inherit;
	height: inherit;
	
	
}

.front1 {
	transform: translateZ(40px);
	background-image: url(ovoshi.png);
	background-size: cover;
	
}

.back1 {
	transform: rotateY(180deg) translateZ(200px);
	background-image: url(ovoshi1.png);
	background-size: cover ;
	
}

.top {
	transform: rotateX(90deg)
	translateZ(300px);
	height: 80px;
}

.bottom {
	transform: rotateX(-90deg) translateZ(300px);
	height: 80px;
}

.left {
	transform: rotateY(90deg) translateZ(150px);
	width: 80px;
}

.right {
	transform: rotateY(-90deg)
		translateZ(150px);
	width: 80px;
}

.matrix:hover {
	transform: rotate3d(1,1,1, 30deg)
		scale3d(1.2,1.2,1.2) translate3d(20px, 20px, 20px);
}

.realtext {
	display: inline-block;
	width: 500px;
	color: #fff;
	position: relative;
	top: -820px;
	font: italic 2em Arbutus Slab;
	font-weight: 600;
	display: inline-block;
	
}

.shrift {
	font: normal 1.5em Dancing Script;
}

.textcube {
	position: absolute;
	width: 300px;
	color: #9D9D9D;
	text-shadow: 1px 1px 2px #858585;
}

.skill {
	float: left;
	position: absolute;
	line-height: 40px;
	font-family: Arbutus Slab;
	font-style: italic;
	font-weight: 600;
	font-size: 1.3em;
	left: 36px;
	top: 2264px;
	
	
	
}
.skill5{
	height: 30px;
}

.blockz {
	perspective: 500px;
	width: 150px;
	height: 150px;
	position: absolute;
	left: 500px;
	z-index: 1;
	top: -160px;
	left: 300px;
	text-shadow: none;
	
	
}

.cubez {
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	transform: rotate3d(1, 1, 0, -30deg);
	transition: 2s;
	
}

.hise {
	position: absolute;
	outline: 0px solid #fff;
	font: normal px Arial;
	text-align: center;
	line-height: 70px;
	color: #fff;
	width: inherit;
	height: inherit;
	backface-visibility: hidden;
	
}

.frontz {
	transform: translateZ(75px);
	line-height: 140px;
	background: linear-gradient(to top left, #858585 5%, #000  );
}

.backz {
	transform: rotateY(180deg) translateZ(75px);
	line-height: 140px;
	background: linear-gradient(to top right, #000, #858585);
	
}

.rightz {
	transform: rotateY(90deg) translateZ(75px);
	background: linear-gradient(to bottom right, #858585, #000);
}

.leftz {
	transform: rotateY(-90deg) translateZ(75px);
	background: linear-gradient(to top right, #858585, #000);
}

.topz {
	transform: rotateX(90deg) translateZ(75px);
	background: linear-gradient(to top right, #000, #858585);
}

.bottomz {
	transform: rotateX(-90deg) translateZ(75px);
	line-height: 140px;
	background: linear-gradient(to bottom right, #858585, #000);
}

 .skill:hover .cubez {
	transform: rotate3d(0 ,1, 0, 180deg);
}

.skill1:hover .cubez {
	transform: rotate3d(1, 0, 0, 90deg);
}

.skill2:hover .cubez {
	transform: rotate3d(1, 0, 0, -90deg);
}

.skill3:hover .cubez {
	transform: rotate3d(0, 1, 0, 90deg);
}

.skill4:hover .cubez {
	transform: rotate3d(0, 1 ,0, -90deg);
}

.skill5:hover .cubez {
	transform: rotate3d(0, 0, 0, 0deg)
}

.blockx {
	width: 300px;
	height: 300px;
	perspective: 300px;
	position: relative;
	left: 800px;
	top: -1300px;
}

.cubex {
	width: inherit;
	height: inherit;
	transform-style: preserve-3d;
	position: absolute;
	animation: anim 10s infinite linear;
}

.sidex {
	width: inherit;
	height: inherit;
	outline: 0px solid #fff;
	position: absolute;
	border-radius: 30%;
	backface-visibility: hidden;
}

.frontx {
	transform: translateZ(150px);
	background-image: url(stn1.jpg);
		
}

.backx {
	transform: rotateY(180deg) translateZ(150px);
	background-image: url(stn2.jpg);
}

.topx {
	transform: rotateX(90deg) translateZ(150px)
		
}

.bottomx {
	transform: rotateX(-90deg) translateZ(150px);
}

.leftx {
	transform: rotateY(-90deg) translateZ(150px);
	background-image: url(stn3.jpg);
}

.rightx {
	transform: rotateY(90deg) translateZ(150px);
	background-image: url(stn4.jpg);
}

@keyframes anim {
	100% {transform: rotate3d(0, 1, 0, 360deg)}
}

.end {
	width: 1320px;
	height: 240px;
	background-color: #7C7B7B;
	position: absolute;
	top: 2180px;
	left: -10px;
	background-image: url(foot1.jpg);
	background-size: cover;
	
}

.end div {
	display: inline-block;
	position: absolute;
	left: 50px;
	top: 90px;
	font-size: 1.3em;
	margin: 0;
	padding: 0;
}

.afoot2 {
	transform: translateY(30px);
}

.afoot3 {
	transform: translateY(60px);
}

.ifoot {
	position: absolute;
	width: 25px;
	height: 25px;
	transform: translate(-84px, -91px);
	
	
}

.ifoot3 {
	background-image: url(instagram_PNG10.png);
	background-size: cover;
		
}

.ifoot2 {
	background-image: url(telef16.png);
	background-size: cover;
	width: 40px;
	transform: translate(-94px, -91px);
	
}

.ifoot1 {
	background-image: url(email-634902_1280.png);
	background-size: cover;
}

.end a {
	color: #4032AC;
	font-weight: 600;
}
.afoot {
	transition: 0.5s;
}
.afoot:hover {
	text-shadow: 1px 1px 1px #4032AC;
}

.problema {
	position: absolute;
	top: -600px;
}
